button {
    display: block;
    width: 250px;
    height: 100px;
    font-size: 32px;
    margin: 1% auto;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #9fa4e0;
    color: #f1376b;
}

button:active {
    box-shadow: 3px black;
    transform: translateY(4px);
}

body {
    background-image: url('bg.jpg');
}

button:focus {
    outline: 0 !important;
}

#banner {
    text-align: center;
}

.tinderImg {
    height: 200px;
    width: 250px;
}

.stats,
.redditText {
    background: #9fa4e0;
    color: #f1376b;
    text-align: center;
    font-size: 32px;
    text-shadow: silver 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    padding: 2%;
}

canvas {
    max-height: 300px;
    max-width: 300px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}